.EditFactoryNameForm{
     
}

.EditFactoryNameForm-input {
   margin:20px 0 10px 0;
   width:70%;
   border:none;
   text-align: center;
}

.EditFactoryName-btn {
   border-radius: 15px;
   border:none;
}
