.Factory {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    margin: 0 15px;
    /* min-width: 211px; */
    max-width: 15vw;
    background: rgba(58, 58, 230, 0.7);
}

.Children {
 min-height: 30px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
}

.FactoryNode {
    min-width: 211px;
    min-height:100px;
    background-color: rgba(128, 128, 128);
    /* padding: 10px; */
}
.FactoryNode h4 {
    text-decoration: underline;
}

.Child {
    background-color: rgb(94, 94, 254);
    border: 1px solid rgb(210, 191, 255);
    margin: 1.5px;
    border-radius: 3px;
    padding:2px;
    color:rgba(240, 255, 255, 0.807)
}

.Factory-name {
    padding:0px;
    margin:0px;
}

.Factory-btn-remove {
    position:absolute;
    top:2px;
    right:1px;
    background: none;
    border: none;
    font-size: .6rem;
    z-index: 1;
}
.Factory-btn-edit {
    position: absolute;
    background: none;
    border: none;
    top: 2px;
    right: 14px;
    font-size: .6rem;
    z-index: 1;
}

.GenerateChildren-btn{
    position:absolute;
    bottom:50px;
    left:0;
    right:0;
    margin:auto;
    width:70%;
    background-color:rgb(211, 211, 211);
    border:none;
    border-radius: 12px;
}
.GenerateChildren-btn:hover{
    transition:all 500ms;
    background-color:rgb(169, 169, 169);
    color: white;
    border:none;
    border-radius: 20px;
}