.Factory {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    margin: 0 15px;
    /* min-width: 211px; */
    max-width: 15vw;
    background: rgba(58, 58, 230, 0.7);
}

.Children {
 min-height: 30px;
 max-width: 230px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
}

.FactoryNode {
    border-radius: 15px 15px 15px 15px;
    min-width: 211px;
    min-height:100px;
    background-color: rgb(153, 153, 153);
    /* padding: 10px; */
}
.FactoryNode h4 {
    /* text-decoration: underline; */
}

.Child {
    height:40px;
    width:40px;
    background-color: rgb(225, 225, 225);
    /* border: 1px solid rgb(210, 191, 255); */
    margin: 1.5px;
    border-radius: 3px;
    padding:2px;
    color:rgba(73, 73, 73, 0.807);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.034);
}

.Factory-name {
    padding:0px;
    margin:0px;
}

.Factory-btn-remove {
    position:absolute;
    top:2px;
    right:3px;
    background: none;
    border: none;
    font-size: .6rem;
    z-index: 1;
}
.Factory-btn-edit {
    position: absolute;
    background: none;
    border: none;
    top: 2px;
    right: 17px;
    font-size: .6rem;
    z-index: 1;
}
.Factory-btn-edit:hover {
   color:white;
   transition:all 500ms;
}
.Factory-btn-remove:hover {
   color:white;
   transition:all 500ms;
}

.GenerateChildren-btn{
    position:absolute;
    font-size:1.5rem;
    bottom:5px;
    left:0;
    right:0;
    margin:auto;
    /* background-color:rgb(211, 211, 211); */
    background-color:transparent;
    border:none;
    border-radius: 12px;
}
.GenerateChildren-btn:hover{
    transition:all 500ms;
    /* background-color:rgb(169, 169, 169); */
    color: white;
    border:none;
    border-radius: 20px;
}

.hide2 {
   
   display: none;
}